.App {
  margin: 0;
}

.topics-container {
  width: 100%;
  height: 500px;
}

.topic-section {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.topic-route {
  width: 50%;
}

.topics-container ul a:nth-child(4n+1) {
  background-color: #4066ad;
  color: white;
}

.topics-container ul a:nth-child(4n) {
  background-color: #4066ad;
  color: white;
}

.topics-container ul a:nth-child(4n-1) {
  background-color: #4872c2;
  color: white;
}

.topics-container ul a:nth-child(4n-2) {
  background-color: #4872c2;
  color: white;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.topic-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-container {
  background-color: #5689e5;
  color: white;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 15px;
}

.back-btn {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 10%;
}
